/* Stylesheet */

body {
  font-family: "Comic Sans MS", serif;
}

h1 {
  font-size: 21px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#italic {
  font-style: italic;
}

#bold {
  font-weight: bold;
}

#banner {
  min-width: 900px;
  max-width: 900px;
  height: auto;
  margin: auto;
  border: 3px solid black;
  background-image: url("");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
